<div class="header">
    <div class="producto">
        <div class="producto__info">
            <h2 class="producto__heading">Prod Name</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quaerat sunt, error officia aspernatur aliquid,
                laborum excepturi sit vero corporis odio.
            </p>
        </div>

        <div class="producto__img">
            <img src="assets/Guitarra.glb" alt="">
        </div>
    </div>
</div>
