
<div class="contenedor">
  <app-nav-bar></app-nav-bar>

  <div class="logotipocarrito">
    <img title="Imagen del carrito" class="" src="\assets\shopping_cart_1000dp_E8EAED_FILL0_wght400_GRAD0_opsz48.svg">
  </div>


<label>Lista de productos</label><br>

<label>Tu direccion es: <input type="text" disabled></label><br>

<label for="NoCheck">No</label>
<input type="checkbox" id="NoCheck">
<br><label>Total del monto a pagar<br><input type="text" disabled></label>


<br><button class="btn-Original centrarObjetos" style="width: 200px;">CONFIRMAR COMPRA</button>

</div>
